.notifications {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600) {
    flex-wrap: wrap;
    gap: 10px;
  }

  .label {
    margin-left: 20px;
  }

  .input {
    margin-right: 5px;
  }
}
