.label {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600) {
    flex-direction: column;
    gap: 10px;
  }
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  max-width: 70px;
  font-size: 16px;
  margin-left: 10px;
}
